body{
    /*remueve margen de la p치gina*/
    margin: 0 auto;
}

header{
    background-color: cornflowerblue;
    height: 150px;
}

footer{
    height: 200px;
    background-color: slateblue;
}

#flexible{
    min-height: 500px;
    background-color: peru;
    padding: 10px;
    
    /*asigna el tipo flexible al display*/
    display: flex;

    /*define la alineaci칩n horizontal de los elementos*/
    /* justify-content: center; */

    /*define la alineacion vertical de los elementos*/
    /* align-items: flex-end; */

    /*wrapping de elementos (breaks cuando hay overflow)*/
    flex-wrap: wrap;

    /*cambia la direccion entre columnas y filas*/
    /* flex-direction: row-reverse; */
}

#flexible>div{
    height: 200px;
    width: 300px;

    /*Crea un element flexible que crece proporcionalmente*/
    /* flex: 2; */

    background-color: darkolivegreen;
    margin: 10px;
}

#flexible>div.especial{
    background-color: darkblue;
    order: 3;
    width: 150px;

    /*Crea un element flexible que crece proporcionalmente (2 veces m치s r치pido)*/
    /* flex-grow: 1; */
    /* flex: 4; */
}