/*pseudo class hover, cuando hay un "hover" se aplica el estilo*/
h1:hover{
    color: blue;
    cursor: pointer;
}

/*pseudo class first-child, aplica el estilo a los li que son primer hijo*/
li:first-child{
    color: blueviolet;;
}

/*pseudo class last-child, aplica el estilo a los li que son él último hijo*/
li:last-child{
    color: red;
}

/*pseudo class nth-child, aplica el estilo a los li en 4ta posición*/
li:nth-child(4){
    color: green;
}

/* pseudo class nth-child, aplica el estilo a posiciones impares.
otros valores pueden ser "even" o {2}n+0
*/
tr:nth-child(odd){
    background-color: gray;
}

/* pseudo class not(), aplica el estilo a todos los li que no tienen la @class="normal"*/
li:not(.normal){
    font-size: 10px;
}

body{
    font-size: 12px;
}

li{
    font-size: 2em;
}