p::first-letter{
    font-size: 40px;
    font-weight: bolder;
}

p::first-line{
    color: saddlebrown;
}

span::before{
    content: "IMPORTANT: ";
    background-color: red;
}

span::after{
    content: "!!!!";
    background-color: red;
}

p::selection{
    background-color: black;
    color: yellow;
}