body{
    margin: 0;
}

header{
    position: sticky;
    top: 0px;
    height: 100px;
    background-color: cornflowerblue;
}

nav>div>a{
    display: block;
    height: 50px;
}

nav{
    background-color: lightslategray;
    padding: 15px;
}

nav#menu-mobile img{
    width: 50px;
    cursor: pointer;
}

main{
    min-height: 650px;
    background-color: dimgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main#about{
    display: block;
}

main>div{
    width: 350px;
    height: 550px;
    margin: 15px;
    padding: 15px;
    background-color: white;
}

main>div>img{
    display: block;
    margin: auto;
}

main>div>a{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    display: block;
    width: 80px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

main h2{
    text-align: center;
}

main>div>p{
    font-size: .9em;
    text-align: justify;
}

p.centrado{
    text-align: center;
}

p.centrado>b{
    font-size: 1.5em;
    color: cornflowerblue;
}

footer{
    height: 200px;
    background-color: indigo;
}

nav div{
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    height: 50px;
}

nav div:hover{
    background-color: lightcoral;
    cursor: pointer;
}

a{
    text-decoration: none;
}

nav div:hover a{
    text-decoration: underline;
}

.current{
    background-color: lightcoral;
}

.current a{
    text-decoration: underline;
}

div#mobile-hidden{
    display: none;
    background-color: lightsteelblue;
    width: 100%;
    height: auto;
    border: none;
    position: fixed;
    left: 0px;
}

div#mobile-hidden>div{
    display: block;
    font-size: 2em;
    padding: 15px;
    height: 30px;
    width: 100%;
    text-align: center;
    border: none;
}

#menu-mobile>img:hover+div{
    display: block;
}

/* nav#menu-mobile div{
    border: none;
}

nav#menu-mobile>div>div{
    display: block;
    font-size: 2em;
    padding: 15px;
    height: 30px;
    width: 100%;
    text-align: center;
} */

@media only screen and (max-width: 891px) {
    nav#menu-tradicional{
        display: none;
    }

    nav#menu-mobile{
        display: block;
    }
}

@media only screen and (min-width: 892px) {
    nav#menu-tradicional{
        display: block;
    }

    nav#menu-mobile{
        display: none;
    }
}